@import '../../variables';

.SearchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SearchForm_control {
  border-bottom: 1px solid currentColor;
  display: flex;
  margin-bottom: 32px;
  appearance: none;

  input[type="search"] {
    background: none;
    border: none;
    text-align: center;
    font: inherit;
    font-weight: bold;
    font-size: 32px;
    padding-left: 32px;
    line-height: 1;
    color: currentColor;
    flex: 1 1 100%;
    outline: none;
    appearance: textfield;
    // TODO: text field doesn't shrink on smaller displays

    &::placeholder {
      opacity: 0.5;
    }
  }

  button[type="submit"] {
    background: none;
    border: none;
    padding: 0;
    color: currentColor;
    cursor: pointer;
    font-size: 32px;
    flex: 0 0 32px;
    transition: 150ms linear color;
    outline: none;

    &:hover {
      color: black;
    }
  }
}

.SearchForm_gps {
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: currentColor;
  cursor: pointer;
  font-size: 18px;
  margin-top: 12px;
  outline: none;

  u {
    text-decoration: none;
    display: inline-block;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 0px;
      border-bottom: 1px dashed currentColor;
    }

    &:hover {
      &:after {
        border-bottom-style: solid;
      }
    }
  }
}
