@import '../../scss-commons/animations';
@import '../../scss-commons/mixins';

.LoadingIndicator {
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 1s linear infinite;
  font-size: 32px;

  @include medium() {
    position: fixed;
  }
}
