@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');
@import '~material-design-icons/iconfont/material-icons.css';
@import '~weather-icons/css/weather-icons.css';

@import './variables';

body {
  margin: 0;
  font: 16px/1.5 'Roboto', sans-serif;
  color: $text-color;
  background: linear-gradient(to bottom right, $bg-grad-start, $bg-grad-end) fixed;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} 
